
<!DOCTYPE html>
<html lang="en"><head>
    <title>rdrr.io Snippets Embed</title>

    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-LRSBGK4Q35"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LRSBGK4Q35');
    </script>

    <link rel="stylesheet" href="/static/CACHE/css/27586c94a74c.css" type="text/css">
  </head>

  <body>
    <div class="ui fluid grid container">
      <div class="sixteen wide column">
        <div class="ui form">
          <div class="field">
            <textarea class="fullwidth mousetrap snip-input" id="snip" rows="10" cols="80" style="font-size: 13px; font-family: Menlo,Monaco,Consolas,Courier New,monospace !important" data-tag="snrub">print("Hello, world!")</textarea>
          </div>

          <div class="ui stackable two column grid">
            <div class="column">
              <button class="ui huge green fluid button snip-run" data-tag="snrub" type="button" id="run">Run  (Cmd-Enter)</button>
            </div>

            <div class="column">
              <p>You should assume that any scripts or data that you put into this service are public. <a href="/snippets/privacy" target="_blank" rel="noopener">Privacy policy.</a></p>
              <p><b>Computation provided by <a href="https://rdrr.io">rdrr.io</a>: hosting documentation for all R packages.</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="sixteen wide column">
        <div class="ui icon warning message snip-spinner hidden" data-tag="snrub">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header snip-status" data-tag="snrub">Nothing</div>
          </div>
        </div>

        <pre class="highlight hidden snip-output" data-tag="snrub"></pre>
        <div class="snip-images hidden" data-tag="snrub"></div>
      </div>
    </div>

    <script type="text/javascript" src="/static/CACHE/js/19aedbecbc13.js"></script>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:400,300,700">
  

</body><div id="simplifyJobsContainer"><span></span></div></html>